*{
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(rgb(15, 0, 11) , rgb(141, 2, 106));
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  align-items: center;
}
ul:hover li a{
  opacity: 0;
}
ul li{
  list-style: none;
margin: 14px 0;
}
ul li a{
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
 background-color: rgb(0, 0, 0);
 padding: 6px 15px;
 border-radius: 20px;
 display: inline-block;
 text-transform: uppercase;
 width: 230px;
 transition: 0.5s;
 position: relative;
z-index: -10px;
}
ul li a:hover{
  transform: scale(1.5);
  color: rgb(247, 4, 247);
  opacity: 1;
}
ul li a::after{
  content: attr(data-text);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
ul li :hover:after{
  opacity: 0.5;
  letter-spacing: 5px;
}